:root {
  --b: #F8E7DB;
  --w: #FFFFFF;
  --bw: #F2F4FF;
  --g: #D9D9D9;
  --lb: #A9D3FF;
  --bl: #155A8B;
  --db: #201E50;
}



main{
  color: black;
}

.containerss {
  width: 100.5%;
  height: 60vh;
  position: relative;
  overflow: hidden; 
}

.flexbox{
  z-index: -998;
  height: 100%;
  width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-content: stretch;
}

.overlayss{
  height: 30%;
  width: 90%;
  background-color: var(--b);
  border-radius: 10px;

  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	align-content: space-around;
}

.ssimg {
  z-index: -999;
  width: 100%;
  height: 100%;
  object-fit: cover; 
  position: absolute;
  top: 0; 
  left: 0; 
}

.overlayss div{
  height: 90%;
  width: 15%;
  border-radius: 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.overlayss form{
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	align-content: center;
}

.overlayss input {
  height: 20px;
  background-color: var(--lb);
  border: none;
  padding: 10px;
  color: var(--bl);
  font-size: 14px;
  border-radius: 4px;
  outline: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
}

.overlayss input:focus {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.overlayss button {
  background-color: var(--w);
  color: var(--db);
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease-in-out;
}

.overlayss button:hover {
  background-color: var(--lb);
}

.overlayss input{
  background-color: var(--lb);
}

.addTicketButtons button{
  margin-top: 5%;
  background-color: var(--lb);
  color: var(--db);
  padding: 10px 20px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease-in-out;
}
.addTicketButtons button:hover {
  background-color: var(--db);
  color: var(--w);
}

.containerTicket {
  overflow: scroll;
  height: 120vh;
  width: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: flex-start;
}


.ticket {
  background-color: var(--bl);
  width: 85%;
  max-width: 85%;
  border-radius: 20px;
  margin-top: 2%; 
  margin-left: auto;
  margin-right: auto;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  align-content: space-around;
}

.ticketPlaceholder {
  border: 0vh solid white;
  width: 85%;
  max-width: 85%;
  border-radius: 20px;
  margin-top: 2%; 
  margin-left: auto;
  margin-right: auto;
}

.imgholder{  height: 80%;
  width: 40%;
  border-radius: 10px;
  background-color: #D9D9D9;
  border: 0.3vh solid black;
}

.ticketInfo{
  margin-left: 5%;
  color: var(--w);
}

.description{
  width: 40%;
}

.priceContainer {
  margin-left: 20%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 10%;
  height: 10%;
  margin-right: 5%;
  background-color: var(--bl);
  border: 3px solid var(--db);
  border-radius: 5px;
  }

.priceContainer p {
  margin: 0;
  padding: 10px;
  color: var(--g);
  font-weight: bold;
}

.priceContainer a.arrow-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border: 2px solid var(--db);
  background-color: var(--db);
  color: var(--w);
  font-size: 20px;
  border-radius: 0px 5px 5px 0px;
  text-decoration: none;
  transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease;
}

.priceContainer a.arrow-link:hover {
  color: var(--w);
  cursor: pointer;
}