:root {
    --b: #F8E7DB;
    --w: #FFFFFF;
    --bw: #F2F4FF;
    --lb: #A9D3FF;
    --bl: #155A8B;
    --db: #201E50;
}

*{
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    margin-left: 0%;
    margin-top: 0%;
    margin-bottom: 0%;
}

header{
    color: var(--w);
    background-color: var(--bl);
    height: 9vh;
    width: 100vw;
    border-bottom: 1vh solid var(--lb);

    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-evenly;
	align-items: center;
	align-content: center;      

}

header ul{
    width: 50vw;

	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	align-content: center;
}

header a {
    color: var(--w);
    text-decoration: none;
}

header a:hover{
    animation: rainbow 2s infinite;
    animation: puls 2s infinite;
}

@keyframes rainbow {
    0% {
      color: red;
    }
    14% {
      color: orange;
    }
    28% {
      color: yellow;
    }
    42% {
      color: green;
    }
    57% {
      color: rgb(255, 255, 255);
    }
    71% {
      color: rgb(0, 213, 255);
    }
    85% {
      color: violet;
    }
    100% {
      color: red;
    }
}

@keyframes puls{
    0%{
        font-size: 100%;
    }
    50%{
        font-size: 200%;
    }
    100%{
        font-size: 100%;
    }
}

header div{
    border-radius: 100px;
    width: 1.8%;
    height: 80%;
}

header div img{
    height: 100%;
    width: 200%;
    border-radius: 100px;   
}

@media only screen and (max-width: 768px) {
    header h1 {
        margin-left: 0%;
    }
    
    header div {
        margin-right: 0%;
        width: 4%;
    }

}

@media only screen and (max-width: 480px) {
    header {
        flex-wrap: wrap;
        height: auto;
        padding: 1rem;
    }
    
    header h1 {
        margin-left: 0;
        margin-bottom: 1rem;
    }
    
    header ul {
        margin-left: -50%;
        width: 100%;
        justify-content: space-around;
        flex-direction: column;
    }
    
    header div {
        width: 8%;
        margin-right: 15%;
    }
}

footer {
    margin-top: auto;
    background-color: var(--bl);
    color: var(--w);
    padding: 20px;
    width: 100.1vw;
    height: 5vh;
    border-top: 1vh solid var(--lb);
    border-bottom: 1vh solid var(--db);
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

footer p {
    margin: 0;
}

footer ul {
    margin: 0 2%;
    padding: 0;
    display: flex;
}

footer li {
    margin: 0 10px;
}

footer a {
    text-decoration: none;
    color: var(--w);
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: flex-start;
    }

    footer li {
        margin: 10px 0;
    }
}

.dropbtn{
    height: 60px;
    width: 160px;
}
.dropbtn img{
    height: 100%;
    width: 40%;
}

.dropbtn:hover{
    cursor: pointer;
    animation: popout 0.6s forwards;
}

@keyframes popout {
    0% {
        transform: scale(1);
        border-radius: 5px;

    }
    100% {

        transform: scale(1.2);
    }
}

#cart.hide {
    display: none;
}

#cart.show {
    display: block;
}